/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	/* font-size: 16px;  */
}

body {
	line-height: 1;
	color: #fff;
	background-color: #333;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------------------------ */
.main {
	flex-grow: 1;
	padding: 30px;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

.main__form {
	margin: 0px 0px 100px 0px;
}

.form {}

.form__line {}

.form__line:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.form__label {
	display: block;
	margin: 0px 0px 10px 0px;
}

.form__input {
	height: 30px;
	width: 100%;
	padding: 0px 10px;
}

.form__input:focus::placeholder {
	transform: translate(-100%, 0px);
	opacity: 0;
}

.form__input::placeholder {
	color: red;
	transition: all 0.3s ease 0s;
}

.form__textarea {
	width: 100%;
	height: 180px;
	padding: 15px;
	resize: vertical;
}

.form__button {
	padding: 10px 15px;
	cursor: pointer;
}

.form__select {
	width: 100%;
	height: 30px;
	padding: 0px 10px;
}

.file {
	position: relative;
}

.file__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 0;
}

.file__label {
	background-color: green;
	border-radius: 20px;
	padding: 10px 15px;
	cursor: pointer;
}

.checkbox {
	position: relative;
}

.checkbox__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.checkbox__input:focus+.checkbox__label {
	outline: 1px solid #fff;
}

.checkbox__input:checked+.checkbox__label::before {
	background-color: green;
}

.checkbox__label {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	cursor: pointer;
}

.checkbox__label::before {
	cursor: pointer;
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	content: "";
	background-color: #fff;
	border-radius: 5px;
}

.radiobuttons {}

.radiobuttons__item {
	position: relative;
}

.radiobuttons__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.radiobuttons__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.radiobuttons__input:focus+.radiobuttons__label::before {
	box-shadow: 0 0 10px rgb(200, 255, 0);
}

.radiobuttons__input:checked+.radiobuttons__label::after {
	transform: scale(1);
}

.radiobuttons__label {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.radiobuttons__label::before {
	cursor: pointer;
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	content: "";
	background-color: #fff;
	border-radius: 50%;
}

.radiobuttons__label::after {
	width: 10px;
	content: "";
	transition: transform 0.3s ease 0s;
	position: absolute;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	top: 5px;
	left: 5px;
	transform: scale(0);
}

.switcher {
	position: relative;
}

.switcher__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switcher__input:focus+.switcher__label {
	outline: 1px solid green;
}

.switcher__input:checked+.switcher__label {
	background-color: green;
}

.switcher__input:checked+.switcher__label::before {
	background-color: green;
	left: 25px;
}

.switcher__label {
	transition: background-color 0.3s ease 0s;
	position: relative;
	display: inline-block;
	cursor: pointer;
	background-color: #fff;
	width: 50px;
	height: 20px;
	border-radius: 10px;
}

.switcher__label::before {
	transition: transform, left 0.3s ease 0s;
	cursor: pointer;
	width: 25px;
	height: 25px;
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0px, -50%);
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 1.3);
	border-radius: 50%;
}

/* Home work---------------------------------------- */

.appointment {
	margin: 20px auto;
}

.hw {
	background-color: rgb(255, 255, 255);
	color: white;
}

.appointment {
	max-width: 535px;
	background-color: #5D62B5;
	border-radius: 40px;
}

.appointment__body {
	padding: 50px;
	padding-top: 0;
}

.appointment__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	text-align: center;
	padding: 76px 0px;
}

.appointment__items {
	display: flex;
	flex-wrap: wrap;

}

.appointment__item {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	align-items: center;
	letter-spacing: 0.15px;
	color: hsl(0, 0%, 100%);
	background: #5D62B5;
	border-radius: 40px;
	padding: 10px 20px;
	border: 1;
	flex: 1 1 50%;
}

.appointment__form {
	color: hsl(0, 0%, 100%);
	display: block;
}

.hwform {
	color: #FFFFFF;
}

.appointment__form-input {
	text-align: center;
	padding: 10px;
	color: #FFFFFF;
	background: #5D62B5;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 0px;
	text-align: center;
	display: block;
	width: 100%;
}

.appointment-ta {
	width: 100%;
	padding: 15px;
	resize: vertical;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

.appointment__select {
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	color: #FFFFFF;
	background: #5D62B5;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

.appointment__form-input:focus::placeholder {
	transform: translate(-100%, 0px);
	opacity: 0;
}

.appointment__form-input::placeholder {
	color: rgb(255, 255, 255);
	transition: all 0.3s ease 0s;
}

.appointment__button {
	padding: 0 20px;
	display: flex;
	justify-content: flex-end
}

.app__button {
	margin-top: 20px;
	padding: 15px;
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	display: flex;
	/* align-items: center; */
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 12px;
	background-color: #e46666;
	display: block;
}


/* ---------------------------------------------------- */

.summary {
	background: #fefefe;
}

.summary__body {
	color: rgb(0, 0, 0);
	margin: 30px auto;
	background: #F5F7FF;
	width: 446px;
	padding: 17px 32px;
}

.summary__header {}

.summary__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin: 18px auto;
}

.shipping__tax {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;

}

.shipping__estimate {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	margin: 12px auto;
}

.shipping__forms {}

.shipping__label {
	display: block;
	font-weight: 600;
	font-size: 13px;
	line-height: 210%;
	color: #000000;
	margin: 10px 0;
}

.shipping__form {
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #000000;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.shipping__checkbox {
	border-radius: 50%;
	/* display: inline-block; */
}

.shipping__span {
	padding-left: 5px;
}

.discount {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	padding: 25px 0 5px 0;
}

.shipping__button {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	display: block;
	color: #0156FF;
	width: 100%;
	background-color: #FFFFFF;
	padding: 15px;
	border: 1px solid #0156FF;
	border-radius: 25px;
}

.shipping__button:hover {
	color: #FFFFFF;
	background-color: #0156FF;
	transition: all 0.3s ease 0s;
}